.lio{
    color: rgb(255, 145, 0);
    font-size: 90px;
}

.one{
    color: rgb(193, 243, 14);
    font-size: 60px;
}
.three{
    color: rgb(20, 236, 164);
    font-size: 80px;
}#RAJ{
    color: rgb(10, 144, 233);
    font-size: 80px;
}
#S{
    color: rgb(236, 6, 148);
    font-size: 100px;
}